body {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.377),
    rgba(0, 0, 0, 0.9)
    ), url("../../static/img/gato.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
